<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.mapper.AdminMapper">
	<select id="curation_list" resultType="CurationVO" parameterType="int">
		SELECT ROW_NUMBER() OVER (ORDER BY c.created_at asc) AS rn, id, title, year || '년 '|| month ||'월' as targetday, 
			(SELECT LISTAGG(ingredient_name, ', ') WITHIN GROUP (ORDER BY ingredient_name) AS ingredients
			 FROM (SELECT DISTINCT i.ingredient_name
	  				FROM curation_detail d JOIN ingredient i 
	  				 ON d.ingredient_id = i.id
	  			   WHERE d.curation_id = c.id
			)) as incredient_list  
		FROM curation c
		ORDER BY c.created_at desc
		OFFSET #{start} ROWS FETCH NEXT 15 ROWS ONLY
	</select>
</mapper>