<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.mapper.AdminMapper">
	<select id="selectCurationList" resultType="CurationVO" parameterType="int">
		SELECT ROW_NUMBER() OVER (ORDER BY c.year asc, c.month asc, c.created_at asc) AS rn, id, title, year || '년 '|| month ||'월' as targetday, hit,
			(SELECT LISTAGG(ingredient_name, ', ') WITHIN GROUP (ORDER BY ingredient_name) AS ingredients
			 FROM (SELECT DISTINCT i.ingredient_name
	  				FROM curation_detail d JOIN ingredient i 
	  				 ON d.ingredient_id = i.id
	  			   WHERE d.curation_id = c.id
			)) as incredient_list  
		FROM curation c
		ORDER BY c.year desc, c.month desc, c.created_at desc
		OFFSET #{start} ROWS FETCH NEXT 15 ROWS ONLY
	</select>
	
	<select id="selectCurationDetail" resultType="CurationDetailVO" parameterType="int">
		SELECT d.id, d.sort_order, d.curation_id, d.ingredient_id, i.ingredient_name, r.rcp_seq, r.rcp_nm, r.att_file_no_main, r.hit
		 FROM curation_detail d
		 JOIN ingredient i ON d.ingredient_id = i.id
		 JOIN recipe r ON d.rcp_seq = r.rcp_seq
		 WHERE d.curation_id = #{curation_id}
		ORDER BY d.sort_order asc, r.hit desc
	</select>
	
	<select id="findIngNameUsedInRecipes" resultType="RecIngredientVO">
		SELECT i.id, i.ingredient_name, count(d.rcp_seq)
         FROM ingredient i
	    JOIN ingredient_detail d 
	      ON i.id = d.ingredient_id
        WHERE i.category_name NOT IN ('조미료','유제품/난류','곡류/가공식품', '기타')
        GROUP BY i.id, i.ingredient_name
        HAVING COUNT(d.rcp_seq) >= 5
        ORDER BY COUNT(d.rcp_seq) DESC
        FETCH FIRST 100 ROWS ONLY
	</select>
	
	
	<select id="selectIngredientName" parameterType="int" resultType="String">
		SELECT ingredient_name
		 FROM ingredient
		WHERE id = #{id}
	</select>
	
	<select id="selectRecipeTop3" parameterType="int" resultType="RecipeVO">
	    SELECT r.*
	     FROM recipe r
	    JOIN ingredient_detail d ON r.rcp_seq = d.rcp_seq
	    WHERE d.ingredient_id = #{id}
	    ORDER BY r.hit DESC NULLS LAST
	    FETCH FIRST 3 ROWS ONLY
	</select>
	
	<insert id="createCuration" parameterType="com.sist.web.vo.CurationVO">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT cur_id_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO curation(id, title, year, month, status, created_at, users_id)
		VALUES (#{id}, #{title}, #{year}, #{month}, #{status}, SYSDATE, #{users_id})
	</insert>
	
	<insert id="createCurationDetail" parameterType="com.sist.web.vo.CurationDetailVO">
		INSERT INTO curation_detail(id, sort_order, curation_id, rcp_seq, ingredient_id)
		VALUES (cur_detail_id_seq.nextval, #{sort_order}, #{curation_id}, #{rcp_seq}, #{ingredient_id})
	</insert>
	
	<update id="updateCuration" parameterType="com.sist.web.vo.CurationVO">
		UPDATE curation 
		 SET title = #{title}, year = #{year}, month = #{month}, created_at = SYSDATE
		WHERE id = #{id}
	</update>
	
</mapper>