<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.mapper.RecipeMapper">
<!-- 레시피 목록 출력, 페이징, 정렬 -->
 <select id="recipeListData" resultType="com.sist.web.vo.RecipeListVO" parameterType="hashmap">
  SELECT rcp_seq,rcp_nm,rcp_pat2,info_eng,user_id,att_file_no_main,hit,hash_tag,users.nickname,
   (SELECT COUNT(*) FROM recipe_like 
                     WHERE recipe_like.recipe_id = recipe.rcp_seq) AS like_count
  FROM recipe
  JOIN users
  ON recipe.user_id = users.id
  ORDER BY
  <!-- 정렬 기준: sort 값에 따라 어떤 걸 기준으로 정렬할지 여기서 갈아끼움 -->
  <!-- #{sort}로 못 쓰는 이유: #{}는 값을 '문자열'로 바인딩해서 ORDER BY 'hit'처럼 따옴표가 붙어버려 SQL 문법 오류 발생. 컬럼명은 문법 구조라 SQL 텍스트 자체를 갈아끼워야 함 -->
  <choose>
    <!-- sort가 'hit'이면 조회수 내림차순 -->
    <when test="sort == 'hit'">
        hit DESC
    </when>
    <!-- 조건에 안 맞으면 최신순 정렬이 기본값 내림차순 -->
    <otherwise>
        rcp_seq DESC
    </otherwise>
  </choose>
  OFFSET #{start} ROWS FETCH NEXT 12 ROWS ONLY
 </select>
 
 <!-- 레시피 총페이지 수 구하기  한페이지에 레시피 12개 출력-->
 <select id="recipeTotalPage" resultType="int">
  SELECT CEIL(COUNT(*)/12.0) FROM recipe
 </select>
 
 <!-- 레시피 특정 카테고리 조회용 -->
 <select id="recipeCategoryData" resultType="com.sist.web.vo.RecipeListVO" parameterType="hashmap">
  SELECT rcp_seq,rcp_nm,rcp_pat2,info_eng,user_id,att_file_no_main,hit,hash_tag,users.nickname,
   (SELECT COUNT(*) FROM recipe_like 
                     WHERE recipe_like.recipe_id = recipe.rcp_seq) AS like_count
  FROM recipe
  JOIN users
  ON recipe.user_id = users.id
  WHERE rcp_pat2 = #{main_category}
  ORDER BY
  <!-- 정렬 기준: sort 값에 따라 어떤 걸 기준으로 정렬할지 여기서 갈아끼움 -->
  <!-- #{sort}로 못 쓰는 이유: #{}는 값을 '문자열'로 바인딩해서 ORDER BY 'hit'처럼 따옴표가 붙어버려 SQL 문법 오류 발생. 컬럼명은 문법 구조라 SQL 텍스트 자체를 갈아끼워야 함 -->
  <choose>
    <!-- sort가 'hit'이면 조회수(hit) 내림차순 -->
    <when test="sort == 'hit'">
        hit DESC
    </when>
    <!-- 조건에 안 맞으면(기본값) 최신순(rcp_seq) 내림차순 -->
    <otherwise>
        rcp_seq DESC
    </otherwise>
  </choose>
  OFFSET #{start} ROWS FETCH NEXT 12 ROWS ONLY
 </select>
 
 <!-- 카테고리 용 총페이지 -->
 <select id="categoryTotalPage" resultType="int" parameterType="String">
  SELECT CEIL(COUNT(*)/12.0) FROM recipe
  WHERE rcp_pat2 = #{main_category} 
 </select>
 
 <!-- 레시피 좋아요 토글버튼  (0=안눌렀음, 1=이미 눌렀음) -->
	<select id="checkRecipeLike" resultType="int" parameterType="hashmap">
	    SELECT COUNT(*) FROM recipe_like
	    WHERE user_id = #{user_id} AND recipe_id = #{recipe_id}
	</select>
	
	<!-- 좋아요 등록 -->
	<insert id="insertRecipeLike" parameterType="hashmap">
	    INSERT INTO recipe_like (like_id, user_id, recipe_id)
	    VALUES (recipe_like_seq.NEXTVAL, #{user_id}, #{recipe_id})
	</insert>
	
	<!-- 좋아요 취소 -->
	<delete id="deleteRecipeLike" parameterType="hashmap">
	    DELETE FROM recipe_like
	    WHERE user_id = #{user_id} AND recipe_id = #{recipe_id}
	</delete>
</mapper>